{% extends 'admin/adminbase.html.twig' %}
{% block activeUsers %}
    active
{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center no-gutters">
            <div class="col-12 col-mg-4 col-lg-4">
                <h2 class="display-4">новый пользователь</h2>
                {{form(form)}}
            </div>
        </div>
    </div>

{% endblock %}