{% extends 'admin/adminbase.html.twig' %}
{% block activeUsers %}
    active
{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center no-gutters">
            <div class="col-12 col-mg-6 col-lg-6">
                <h2 class="display-4 mt-4 text-center">Список юзеров</h2>
                <ul class="list-group">
                    {% for user in users %}
                        <li class="list-group-item">{{ user.getEmail }}, {{ user.getRoles() | json_encode }}</li>
                    {% endfor %}
                </ul>
                <a class="btn btn-block btn-primary mt-3" href="{{ path('admin_user_create') }}">создать юзера </a>
            </div>
        </div>
    </div>

{% endblock %}